<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/chitter.css">
  <link rel="icon" type="image/png" href=/favicon-32x32.png">
  <link rel="shortcut icon" type="image/png" href="/favicon-32x32.png">
  <title>Peeps</title>
</head>
<body>
    <% if @user.exists? %>
      Welcome back, <%= @user.name %>!
    <% else %>
      Welcome, <%= @user.name %>!
    <% end %>
<!--<h3>No Peeps for now</h3>-->

  </body>
</html>
