<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/chitter.css">
    <link rel="icon" type="image/png" href=/favicon-32x32.png">
    <link rel="shortcut icon" type="image/png" href="/favicon-32x32.png">
    <title>Home</title>
</head>
<body>

<p class="intro"><strong>here will come the log out Flash!<%= flash[:notice] %></strong></p>

<h1>Chitter</h1>

<nav>
  | <a href="/login/users/new/" title="sign up">Sign up</a> |
    <a href="/login" title="sign in">Sign in</a> |
</nav>

</body>
</html>
