html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 50px;
    background-color: #496bd096;
}

.rocky {
    border: none;
    position: absolute;
    right: 100px;
    bottom: 100px;
    -webkit-animation: xAxis 2.5s 3 cubic-bezier(0.02, 0.01, 0.21, 1);
    animation: xAxis 2.5s 3 cubic-bezier(0.02, 0.01, 0.21, 1);
}

.rocky::after {
    content: '';
    display: block;
    width: 250px;
    height: 300px;
    border: none;
    position: absolute;
    right: 100px;
    bottom: 100px;
    background: url("favicon_rocky.png") no-repeat;
    -webkit-animation: yAxis 2.5s 3 cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation: yAxis 2.5s 3 cubic-bezier(0.3, 0.27, 0.07, 1.64);
}

@-webkit-keyframes yAxis {
    50% {
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
        -webkit-transform: translateY(-100px);
    }
}

@keyframes yAxis {
    50% {
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
        transform: translateY(-100px);
    }
}

@-webkit-keyframes xAxis {
    50% {
        -webkit-animation-timing-function: cubic-bezier(0.42,0,0.58,1);
        -webkit-transform: translateX(100px);
    }
}

@keyframes xAxis {
    50% {
        animation-timing-function: cubic-bezier(0.42,0,0.58,1);
        transform: translateX(100px);
    }
}

nav {
    display: block;
    margin-bottom: 50px;
    padding: 5px;
    border-top: 2px solid #FFD324;
    border-bottom: 2px solid #FFD324;
    border-radius: 10%;
    width: 110px;
}


div, fieldset, textarea {
    border-bottom: 1px solid #FFD324;
    border-radius: 10%;
    margin: 10px;
    padding-bottom: 10px;
    width: 400px;
}

.title {
    float: left;
    width: 100px;
    text-align: left;
    padding-right: 10px;
}

.submit {
    text-align: right;
    padding-right: 10px;
    border: none;
}

table { margin: 20px }

.peep {
    width: 350px;
    border-top: 1px solid #FFD324;
    border-radius: 10%;
    padding: 20px;
}

.peep_rocky {
    margin-bottom: 20px;
    padding: 15px;
    background: url("favicon_rocky.png") no-repeat;
    background-size: 50px;
    border: none;
}
