  <table>
    <tr>
      <td width="20px" rowspan="2" class="peep_rocky"></td>
      <td>
        <small>✎... <%= created_at %></small>
      </td>
    </tr>
    <tr id="peep_text">
      <td class="peep"><%= text %></td>
    </tr>
  </table>

