<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/chitter.css">
  <link rel="icon" type="image/png" href="/favicon_rocky.png">
  <link rel="shortcut icon" type="image/png" href="/favicon_rocky.png">
  <link rel="apple-touch-icon image_src" href="/favicon_rocky.png">
  <title>Peeps</title>
</head>
<body>

<h2><%=	 flash[:notice] %></h2>

<h4><%= current_user.name %>'s page</h4>

<form action="/login/sign_out" method="post">
  <input name="button" type="submit" title="button" value="Sign out">
</form>

<div class="submit"><a href="/peeps/new">New peep</a></div>

<article>
  <% @peeps.each do |peep|%>
    <table>
      <tr>
        <td width="20px" rowspan="2" class="peep_rocky"></td>
        <td>
          <small><%= peep.timestamp %></small>
        </td>
      </tr>
      <tr id="peep_text">
        <td class="peep"><%= peep.text %></td>
      </tr>
    </table>
  <% end %>
</article>

<div class="rocky"></div>

  </body>
</html>
