<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/chitter.css">
  <link rel="icon" type="image/png" href="/favicon_rocky.png">
  <link rel="shortcut icon" type="image/png" href="/favicon_rocky.png">
  <link rel="apple-touch-icon image_src" href="/favicon_rocky.png">
  <title>New peep</title>
</head>
<body>

<h3>New peep</h3>

<div class="rocky"></div>

  <form action="/peeps" method="post">
    <textarea name="text" rows="5" cols="50" placeholder="Text" autofocus></textarea>
    <input type="submit" value="Peep">
  </form>
</body>
</html>
