<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/chitter.css">
  <link rel="icon" type="image/png" href="/favicon-32x32.png">
  <link rel="shortcut icon" type="image/png" href="/favicon-32x32.png">
  <title>New user</title>

  <script>
      function showPswd() {
          var x = document.getElementById("pswdInput");
          if (x.type === "password") {
              x.type = "text";
          } else {
              x.type = "password";
          }
      }
  </script>
</head>
<body>

<form action="/login/users" method="post">
  <fieldset>
    <legend>Login Details</legend>
    <div>
      <label for="user_name">Username:</label>
      <input name="email" type="email" placeholder="Your username is your email address" required autofocus>
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="button" onclick="showPswd()" value="Show/Hide">
      <input id="pswdInput" name="password" type="password" placeholder="6 digits, a combination of numbers and letters" required>
    </div>
    <div>
      <input name="login" type="submit" value="Sign up">
    </div>
  </fieldset>
</form>

<%= flash[:error] %>

</body>
</html>
