<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/chitter.css">
  <link rel="icon" type="image/png" href="/favicon_rocky.png">
  <link rel="shortcut icon" type="image/png" href="/favicon_rocky.png">
  <link rel="apple-touch-icon image_src" href="/favicon_rocky.png">
  <title>New user</title>

  <script>
      function showPswd() {
          var x = document.getElementById("pswdInput");
          if (x.type === "password") {
              x.type = "text";
          } else {
              x.type = "password";
          }
      }
  </script>
</head>
<body>

<form action="/login/sign_up" method="post">
  <fieldset>
    <legend>Login Details</legend>
    <div>
      <label for="name" class="title">Username:</label>
      <input name="name" type="text" title="Username" required autofocus>
    </div>
    <div>
      <label for="email" class="title">Email:</label>
      <input name="email" type="email" title="email" required autofocus>
    </div>

    <div>
      <label for="password" class="title">Password:</label>
      <input id="pswdInput" name="password" title="password" type="password" required>
      <input type="button" onclick="showPswd()" value="Show/Hide">
    </div>
    <div class="submit">
      <input name="login" type="submit" value="Sign up">
    </div>
  </fieldset>
</form>

<%= flash[:error] %>

</body>
</html>
