<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/chitter.css">
  <link rel="icon" type="image/png" href="/favicon_rocky.png">
  <link rel="shortcut icon" type="image/png" href="/favicon_rocky.png">
  <link rel="apple-touch-icon image_src" href="/favicon_rocky.png">
  <title>Login</title>

  <script>
    function showPswd() {
        var x = document.getElementById("pswdInput");
        if (x.type === "password") {
            x.type = "text"
        } else { x.type = "password" }
    }
  </script>
</head>
<body>

<form action="/login/sign_in" method="post">
  <fieldset>
    <legend>Login Details</legend>
    <div>
      <label for="email" class="title">Email:</label>
      <input name="email" title="email" type="email" required autofocus>
    </div>

    <div>
      <label for="password" class="title">Password:</label>
      <input id="pswdInput" name="password" type="password" title="password" required>
      <input type="button" onclick="showPswd()" value="Show/Hide">
    </div>
    <div class="submit">
      <input name="login" type="submit" value="Sign in">
    </div>
  </fieldset>
</form>

<%= flash[:notice] %>

</body>
</html>
