<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/chitter.css">
  <link rel="icon" type="image/png" href="/favicon_rocky.png">
  <link rel="shortcut icon" type="image/png" href="/favicon_rocky.png">
  <link rel="apple-touch-icon image_src" href="/favicon_rocky.png">
  <title>New user</title>

  <script>
      function showPswd() {
          var x = document.getElementById("pswdInput");
          if (x.type === "password") {
              x.type = "text";
          } else {
              x.type = "password";
          }
      }
  </script>
</head>
<body>

<form action="/login/sign_up" method="post">
    <%= erb :'partials/sign_up_form'%>

</form>

<%= flash[:error] %>

<div class="rocky"></div>

</body>
</html>
